.listeArticles {
	display: flex;
	flex-wrap: wrap;
}

.categTitle {
	font-family: Chaparral Pro Light;
	font-size: 3em;
	text-decoration: underline;
}

.card {
	box-sizing: border-box;
	width: 400px;
	height: 400px;
	margin: 20px;
	padding: 10px 30px;
	box-shadow: lightgray 4px 4px 20px;
}

img {
	max-width: 100%;
	max-height: 270px;
	margin-bottom: 15px;
}

h2 {
	height: 70px;
	font-size: 24px;
}

.prix p {
	text-align: center;
}

.prix p {
	font-weight: bold;
	font-size: 16px;
}

.popup {	
	display : none;

}

.popup.active {
	display : inline;
}